/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin: 0px 10px;
}

.main-container {
    max-width: 1440px;
    box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/************Header*************/

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.logo img {
    width: 80px;
    height: 25px;
    margin: 10px;
}

.menu {
    display: flex;
}

.topnav {
    padding: 25px;
}

.topnav:hover {
    color: #0065FC;
    border-top: 1px #0065FC solid;
}

.ville {
    padding-top: 17px;
}

.button {
    padding-top: 17px;
}


/***********Info_Group***********/


label {
    display: flex;
}

.plus {
    margin: 15px 0px 0px 5%;
}

.plus:hover {
    text-decoration: underline;
}

.search_bar div {
    width: 50px;
    height: 50px;
    background: #d9d9d9;
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 15px;
}

.search_bar div i {
    padding-left: 15px;
    padding-top: 24px;
    color: #000;
}

.search_bar, form {
    display: flex;
    width: 377px;
    height: 49px;
    /*align-items: center;*/
    gap: 24px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    background: #fff;
    margin: 2% 0px;
}

.champdesaisie {
    
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    width: 43%;
}
  
.button-search {
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065fc;
    background: #0065fc;
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
}

.button-search i {
    display: none;
}

div .filters {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 25px;
    margin-bottom: 35px;
}

.filter-main {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
}
  
.filters .filter-title {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
}
  
.filter-main .filter {
    display: flex;
    height: 50px;
    padding: 0px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
}
  
.filter .label {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
}
  
.filter .fa-solid {
    color: #0065fc;
}
  
.filter:hover {
    background-color: #deebff;
}
  
.info {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-bottom: 1%;
}
  
.info div {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
}
  
.info div i {
    color: #0065fc;
    font-size: 13px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.card-main{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #FFF;
    min-width: 100px;
    
    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
    
.img-hbg{
    height: 124px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #FFF);
    object-fit: cover;
}
    
.card-txt{
    align-self: stretch;
    margin-left: 15px;
}
    
.card-rating{
    align-self: stretch;
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
}
        
.grey {
    color: #7c77776b;
}
        
.bloc{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    margin-top: 25px;
}

/****** Populaires ***********/

.populaires {
    width:32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    margin-top: 25px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 15px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/************Activités************/

#activites {
    margin-top: 5%;
}

.activites-title {
    margin-left: 40px;
    margin-bottom: 35px;
}

#activites .card {
    padding: 0px 0px 10px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1;
}

.activites-cards img {
    height: 360px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards {
    display: flex; 
    gap: 30px; 
}


/**********Footer************/

footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    margin-top: 60px;
}

.pied_de_page {
    padding: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .list {
        margin-top: -25px;
    }

    .infobar {
        margin-left: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        margin-bottom: 30px;
        margin-left: 0px;
        width:100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activites .card {
        padding: 0px 0px 10px;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        width: 100%;
    }

    .activites-cards img {
        height: 200px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    
    .filterbar {
        display: inline;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   
    /**********Hébergements***********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 0px;
        background-color: #ffffff;
    }

    .hebergements-title {
        margin-left: 5%;
    }

    .bloc {
        display: flex;
        flex-direction: column;
    }

    .card-main {
        width: 90%;
        margin: auto;
    }

    .img-hbg {
        margin: auto;
        height: 170px;
        width: 100%;
    }


    /**********Populaires***********/

    .populaires-title {
        padding: 20px;
        background-color: #F2F2F2;
    }

    #populaires {
       width: 100%;
       margin: auto;
    }

    .populaires-cards {
        background-color: #F2F2F2;
        flex-direction: column;
        padding-bottom: 5%;
        margin-bottom: 5%;
        margin: auto;
    }

    .populaires-cards a {
        margin: 5px;
        width: 90%;
    }

    .populaires-cards .card {
        width: 100%;
        margin: 2%;
    }

    /**********Activités***********/
    
    #activites{
        justify-content: center;
    }

    .activites-cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
    }

    #activites .cards {
        width: 90%;
    }
    
    .activites-cards img {
        width: 100%;
        height: 200px;
    }

    .activites-cards .card-content {
        width: 335px;
    }
    
    .activites-cards .card-title {
        height: 20px;
    }

     /* .......    ...... */

    body {
        margin: auto;
    }

    main {
        margin: inherit;
    }

    .main-container { 
        display: flex;
        flex-direction: column;
        padding: inherit;
    }

    header {
        flex-direction: column;
    }

    .logo{
        text-align: center;
        margin-top: 10px
    }

    .menu {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .topnav { 
        border-bottom: 1px #D9D9D9 solid;
        text-align: center;
        width: 100%;
    }

    .topnav:hover {
        color: #0065FC;
        border-bottom: 1px #0065FC solid;
        border-top: 0px;
    }

    #info-group {
        width: 90%;
        margin: auto;
    }

    .headline {
        padding: 0px 20px 0px 20px;
    }

    .search_bar, form {
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
    .champdesaisie {
        width: 50%;
    }

    .button-search .fa-solid {
        color: #fff;
    }

    .filter-title {
        margin: 20px 0px 20px 10px;
    }

    div .filters {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        justify-content: center;
    }

    .filter .label {
        font-size: 14px;
    }

    .filter-main {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .filter-main .filter {
        justify-content: center;
    }

    .info {
        width: 100%;
        height: auto;
    }

    .info-group p {
        font-size: 15px;
    }

    .button-search span {
        display: none;
    }

    .button-search i {
        display: inline;
    }

    /***********Footer***********/

    footer{
        flex-direction: column;
        margin: 0px;
        margin-top: 20px;
        width: auto;
    }


}